
body{
    background-color: rgb(128, 43, 43);
    margin: 0%;
}
h1{ 
    font-size: 44px;
}

button{ font-size: 12 ;
width: 150px;
height: 25px;
color:blue;
background-color: lightslategray;
border: none;
}

hr{
    color: rgb(128,43,43);
    height:  8px;
    background-color: rgb(128,43,43);
    width: 100%;
}
header{
    background-color: rgb(71, 24, 24);
    text-align: center;
    margin: 0%;
    padding: 0px 0px 0px 0px; 
    font-family: "smokum" , cursive;
    
    height: max-content;
}

#tperfil{
    width: 50%;
    max-width: 49%;
    background-color: rgb(157, 137, 171);
    position:absolute;
    visibility:visible;
    color: rgb(126, 30, 30);
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(102,25,25);
}
#tpersonal{
    width: 50%;
    max-width: 49%;
    position:absolute;
    visibility:hidden;
    background-color: rgb(157, 137, 171);
    color: rgb(126, 30, 30);
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(102,25,25);
}
#tformacion{
    width: 50%;
    max-width: 49%;
    position:absolute;
    visibility:hidden ;
    background-color: rgb(157, 137, 171);
    color: rgb(126, 30, 30);
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(102,25,25);
}
#texperiencia{
    width: 50%;
    max-width: 49%;
    position:absolute;
    visibility:hidden ;
    background-color: rgb(157, 137, 171);
    color: rgb(102, 25, 25);
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(102,25,25);
    text-justify: auto;    
    
}

#detalle{
    background-color: rgb(77, 43, 43);

}
nav{ font-size: 12 ;
    background-color : black;
    justify-content: center;
    text-align: center;
    margin: 1px 0px 0px 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    }
  
#tabla{
    width: 100%;
    height:100%;
    margin-bottom: 0px;
    margin: 0%;
    padding: 0px;
    }
#foto{
        border-radius: 100% ;
        width: 180px;
        height: 180px;
        }
#celdaizquierda{
    width: 25%;
    background-color : rgb(68, 68, 68);
    max-height: 100%;
    height: 388px;

}

#celdaderecha{
    width: 25%;
    max-height: 100%;
    background-color: rgb(68, 68, 68);
    height: 388px;
    
}
    


#celdacentral{
    margin-top: 0%;
    background-color: rgb(71, 24, 24);
    }
#linea{
    color: darkred;
    padding-top: 5px;
    margin-bottom: 20px;
}

